<a href="https://colab.research.google.com/github/mohammadawaisarshad/Pandas_Practice/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data={
    'Name':['John','Jane','Bob','Alice'],
    'Age':[14,15,14],
    'Grade':['A','B','C','B']}

df=pd.DataFrame(data)
# Display the first two rows
print("First Two Rows")
print(df.head(2))
# Display the last two rows
print("\nLast Two Rows")
print(df.tail(2))
# Display the 'Name' and 'Grade' columns
print("\nName and Grade")
print(df[['Name','Grade']])
# Save the DataFrame to a CSV file
df.to_csv('data.csv')

First Two Rows
   Name  Age Grade
0  John   14     A
1  Jane   15     B

Last Two Rows
    Name  Age Grade
2    Bob   14     C
3  Alice   16     B

Name and Grade
    Name Grade
0   John     A
1   Jane     B
2    Bob     C
3  Alice     B

In [ ]:
print(df.iloc[3])

Name     Alice
Age         16
Grade        B
Name: 3, dtype: object

In [ ]:
import pandas as pd
data={
    'Employee_ID':[101,102,103,104],
    'Name':['John','Jane','Mike','Alice'],
    'Department':['HR','IT','Finance','IT'],
    'Salary':[50000,60000,55000,65000]}
df=pd.DataFrame(data)
# 1. Filter and display all employees who work in the "IT" department
it_dep=df[df['Department']=='IT']
print("IT Department Employees")
print(it_dep)
# 2. Calculate and print the average salary of the employees
print("Average Salary of Employees")
print(df['Salary'].mean())

IT Department Employees
   Employee_ID   Name Department  Salary
1          102   Jane         IT   60000
3          104  Alice         IT   65000
Average Salary of Employees
57500.0

In [ ]:
import pandas as pd
data={
    'ProductID':[1,2,3,4],
    'ProductName':['Laptop','SmartPhone','Table','Chair'],
    'Catagory':['Electronics','Electronics','Funiture','Furniture'],
    'Price':[800,600,150,100]
    }

df=pd.DataFrame(data)

#1. Find and display all products with a price greater than 500
print("Products more than 500 prices")
price=df[df['Price']>500]
print(price)

# 2. Add a new column 'DiscountedPrice' with a 10% discount
df['DiscountedPrice'] = df['Price'] * 0.9
print("\nProducts with DiscountedPrice:")
print(df)

Products more than 500 prices
   ProductID ProductName     Catagory  Price
0          1      Laptop  Electronics    800
1          2  SmartPhone  Electronics    600

Products with DiscountedPrice:
   ProductID ProductName     Catagory  Price  DiscountedPrice
0          1      Laptop  Electronics    800            720.0
1          2  SmartPhone  Electronics    600            540.0
2          3       Table     Funiture    150            135.0
3          4       Chair    Furniture    100             90.0

In [ ]:
import pandas as pd
data={
    'TransactionID':[1,2,3,4],
    'Date':['2024-01-01','2024-01-02','2024-01-03','2024-01-04'],
    'Product':['laptop','SmartPhone','Laptop','Tablet'],
    'Quantity':[2,3,1,5],
    'Price':[800,600,800,300]
    }

df=pd.DataFrame(data)
#Add new column of TotalSales
df['TotalSale']=df['Quantity']*df['Price']
print(df)

#Transaction more tham 1500 of TotalSale
sale=df[df['TotalSale']>1500]
print("\nTransaction more than 1500")
print(sale)

   TransactionID        Date     Product  Quantity  Price  TotalSale
0              1  2024-01-01      laptop         2    800       1600
1              2  2024-01-02  SmartPhone         3    600       1800
2              3  2024-01-03      Laptop         1    800        800
3              4  2024-01-04      Tablet         5    300       1500

Transaction more than 1500
   TransactionID        Date     Product  Quantity  Price  TotalSale
0              1  2024-01-01      laptop         2    800       1600
1              2  2024-01-02  SmartPhone         3    600       1800

In [ ]:
import pandas as pd
data={
    'StudentID':[1,2,3,4],
    'Name':['John', 'Jane', 'Bob', 'Alice'],
    'Math':[85, 90, 70, 95],
    'English':[78, 88, 95, 89],
    'Science':[92, 85, 78, 90]
    }

df=pd.DataFrame(data)
#Add new Column of TotalScore
df['TotalScore']=df['Math']+df['English']+df['Science']
print("TotalScore")
print(df)

#Highest Score find
print("Highest Score Student")
print(df[df['TotalScore']==df['TotalScore'].max()])

TotalScore
   StudentID   Name  Math  English  Science  TotalScore
0          1   John    85       78       92         255
1          2   Jane    90       88       85         263
2          3    Bob    70       95       78         243
3          4  Alice    95       89       90         274
Highest Score Student
   StudentID   Name  Math  English  Science  TotalScore
3          4  Alice    95       89       90         274

In [ ]:
import pandas as pd

# Creating the DataFrame
data = {
    'OrderID': [1, 2, 3, 4, 5],
    'CustomerID': [101, 102, 101, 103, 104],
    'OrderDate': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
    'Product': ['Laptop', 'Smartphone', 'Tablet', 'Laptop', 'Smartphone'],
    'Quantity': [2, 3, 5, 1, 2],
    'UnitPrice': [800, 600, 300, 800, 600]
}

order_data = pd.DataFrame(data)
order_data['TotalPrice']=order_data['Quantity']*order_data['UnitPrice']

order_data.groupby('CustomerID')['TotalPrice'].sum()
print("Spend")
print(order_data)
high_spent=order_data['TotalPrice'].max()
print(high_spent)

Spend
   OrderID  CustomerID   OrderDate     Product  Quantity  UnitPrice  \
0        1         101  2024-01-01      Laptop         2        800
1        2         102  2024-01-02  Smartphone         3        600
2        3         101  2024-01-03      Tablet         5        300
3        4         103  2024-01-04      Laptop         1        800
4        5         104  2024-01-05  Smartphone         2        600

   TotalPrice
0        1600
1        1800
2        1500
3         800
4        1200
1800